@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model System.Collections.Generic.IEnumerable<Sitecore.Demo22.MVC.Web.Models.Fees>

@if (Model != null)
{

<div>

    <table style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;" class="table table-striped table-hover">
        <tr font-size:20px">

            <th style="padding: 20px; border: 1px solid #dddddd;">
                S.N.
            </th>




            <th style="padding: 20px; border: 1px solid #dddddd;">
                Standard
            </th>



            <th style="padding: 20px; border: 1px solid #dddddd;">
                Registration Fees
            </th>



            <th style="padding: 20px; border: 1px solid #dddddd;">
                Maintenance money
            </th>



            <th style="padding: 20px; border: 1px solid #dddddd;">
                Exam Fees
            </th>



            <th style="padding: 20px; border: 1px solid #dddddd;">
                Parking Fee(If they have)
            </th>



            <th style="padding: 20px; border: 1px solid #dddddd;">
                Anual Fee
            </th>


        </tr>
        @foreach (var child in Model)
        {
            <tr font-size:20px">

                <th style="padding: 20px; border: 1px solid #dddddd;">
                    @child.Serial_Number
                </th>




                <th style="padding: 20px; border: 1px solid #dddddd;">
                    @child.Standard
                </th>



                <th style="padding: 20px; border: 1px solid #dddddd;">
                    @child.Registration_Fees
                </th>



                <th style="padding: 20px; border: 1px solid #dddddd;">
                    @child.Maintenance_Money
                </th>



                <th style="padding: 20px; border: 1px solid #dddddd;">
                    @child.Exam_Fees
                </th>



                <th style="padding: 20px; border: 1px solid #dddddd;">
                    @child.Monthaly_Fees
                </th>



                <th style="padding: 20px; border: 1px solid #dddddd;">
                    @child.Anual_Fees
                </th>


            </tr>
        }

    </table>

</div>
}